name: assets

on:
  push:
    tags:
      - "v*"
jobs:
  goreleaser:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: Unshallow
        run: git fetch

      - name: Use Golang
        uses: actions/setup-go@v1
        with:
          go-version: 1.18

      - name: git
        run: git config --global url.https://${{ secrets.selefra_TOKEN }}@github.com/.insteadOf https://github.com/


      - name: Get the release version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/}
      - name: setVersion
        run: |
          sed -i "s#{{version}}#${{ steps.get_version.outputs.VERSION }}#g" cmd/version/version.go 
          cat cmd/version/version.go
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v3
        with:
          version: latest
          args: release --rm-dist --skip-validate
        env:
          GITHUB_TOKEN: ${{ secrets.selefra_TOKEN }}
